<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>错误</title>
    <style>
        h1,p{
            text-align: center;
        }
        p button,p input{
            width: 200px;
            padding: 5px 0;
        }
    </style>
</head>
<body>
<h1>错误</h1>
出现了错误，请尝试重新执行初始化。如果问题仍未能解决，请联系系统管理员。
<!--        <form method="POST">-->
<!--{% for field in form if field.widget.input_type != 'hidden' %}-->
<!--            <p>{{ field }}</p>-->

<!--            {% endfor %}-->
<!--</form>-->
</body>
</html>